@mixin anclas1 {
    background-color: #000;
    color: $micolor4;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}
.h2exp{
    @include anclas1;
    margin-bottom: 15px;
}

.experiencias{
    background-image: url(../img/experiencias.main1.jpg);
    background-size: cover;
    background-position: center;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.experiencia{
    background-color: rgba(196, 196, 191, 0.356);
    width: 60%;
    border: 6px solid orange;
    padding-bottom: 30px;
    text-align: center;
}
.experiencia h1{
    color: #000;
    text-align: center;
    text-shadow: 0 0 4px;
    font-family: $mifuente1;
}
.experiencia a{
    background-color: $micolor1;
    color: $micolor3;
    font-size: 20px;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 15px;
    margin: 20px;
}
.card{
    background-color: $micolor2;
    text-align: center;
    color: #F05D0E;
}
section{
    background-image: linear-gradient(to right bottom, #053718, #00422d, #004e42, #005957, #09636b);
}
